@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');  /*(font-family: "Roboto Condensed", sans-serif;)*/
/*fonte importada do google fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


header {
  margin: 0;
  top: 0;
  background-image: url(imagens\do\site/logotipo\panela\laranja.jpeg); /*imagem do logo sobreposta na imagem inicial*/

}

main{
  padding: 20px;
  margin-left: 3%;
}


p {
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif; 
  text-align: justify;
  margin-right: 10%;
  margin-left: 3%;
  line-height: 1.5;
 
}


/*tutulos dos textos */
h1 {
  width: calc(47% - 7px);  /* 50% menos o espaçamento para a imagem */
  background-color:rgb(207, 115, 62); 
  margin-left: 3%;                           /*cor de fundo*/
  text-align: left;                                                 /*posição do texto*/
  font-size: 20px;                                                    /*tamanho da letra*/
  font-family: Arial, Helvetica, sans-serif;
  padding: 5px;
  margin-bottom: 1%;
   
}





/*frase solicitando para clicar*/
.clique {
  margin-left: 3%;
  font-size: 18px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%;
  font-weight: bold;
}


/*titulos das receitas"*/
h3{
  color: rgb(253, 252, 251);
  background-color: #e66108;
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3%;
  margin-bottom: 1%;
  width: calc(20% - 7px); /*alinha o background */

}













  

/*IMAGENS DO CABEÇALHO DAS PAGINAS*/

.logo{
  margin: 0;
  padding: 0;
  background-image: url(imagens\do\site/logotipo\panela\laranja.jpeg); /*imagem do logo sobreposta na imagem inicial*/
  color: #cf2c0f;
  font-family: Roboto Condensed;
  font-weight: bolder;
  margin-left: 4px;    
  position: relative;

  }


.imagemInicial{
  background-image: url(imagens\ do\ site/inicial3.png);
  height: 135px;                                                      /* Altura desejada para o cabeçalho */
  width: 1349px;
  background-size: cover;                                             /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
  padding: 0px;
  background-position: 50% 5%;
  opacity: 39%;
  z-index: -1; /* Garante que fique atrás do conteúdo */

}


.imagemReceitas {
    background-image: url(imagens\ do\ site/ingredientes3.jpeg);
    height: 135px;                                                      /* Altura desejada para o cabeçalho */
    width: 1348px;
    background-size: cover;                                             /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
    padding: 0px;
    opacity: 39%;

}

.imagemDicas {
  margin-top: 0;
 /* background-image: url(imagens\ do\ site/Dicas6.png);*/
 height: 135px;                                                      /* Altura desejada para o cabeçalho */
 width: 1349px;
  background-size: cover;                                 /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
  padding: 11px;
  background-position: 50% 50%;
  background-color: #ff9f45;
  opacity: 59%;

}


.imagemLocal {
  /* background-image: url(imagens\ do\ site/mapa.png);*/
  height: 135px;                                                      /* Altura desejada para o cabeçalho */
   width: 1349px;
   background-size: cover;                                 /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
   background-position: 50% 40%; 
   background-color: #ff9f45;
   opacity: 59%;
 
 
 }
 
 .imagemForm{
   margin-top: 0;
   background-image: url(imagens\ do\ site/formulario.png);
   height: 190px;                                          /* Altura desejada para o cabeçalho */
   width: 1349px;
   background-size: cover;                                 /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
   padding: 11px;
   background-position: 50% 40%; /*centraliza a imagem na parte desejada, usando a porcentagem ou center*/
 }

 

/* MENUS */

.menusDicas {
  background-color: #f76e11;
    padding: 13px;
  width: 1349px;
  
}




.menuInicial {
  background-color: #f76e11;
  padding: 13px;
    width: 1347px;
    word-spacing: 50px;
}


.menusReceitas {
  background-color: #f76e11;
  padding: 13px;
  width: 1348px;
  word-spacing: 50px;
  margin-bottom: 4%;
  } 



/* */
.menusLocal {
    padding: 14px;
    width: 1349px;
    word-spacing: 50px; 
    background-color: #f76e11;
 
}

   
.menu-container{
  position: absolute;
  top: 15%;
  right: 10px;
  z-index: 2;

}

/**************ultima modificação do menu **********************************/
nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 7px; /* Espaçamento entre os itens do menu */

}

nav ul li {
  margin: 0;
  
}

nav ul li a {
  text-decoration: none;
  color: rgb(53, 3, 3);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bolder;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
  display: inline;
  height: 43px;  /*verificar necessidade*/
  padding: 3px 10px;                                                                      /* preenchimento do botão */
  word-spacing: 40px; 
  display: inline-block;
  text-decoration: none;


  
}

nav ul li a:hover {
  color: #f76e11; /* Cor do texto ao passar o mouse */
}





/*CRIADO POR..*/
.criado {
    font-size: 16px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    background-color: #f76e11;
    padding: 5px 0; /* Adds padding to the top and bottom for some spacing */

}

.footer-content {
  color: #fff; /* Sets text color to white for contrast */
  display: inline-block; /* Makes the content inline block to respect text alignment */
    vertical-align: middle; /* Aligns the text vertically in the middle */
    margin: 0 auto; /* Centers the block element */
}

  /*Linkedin*/
  .linkedin {
    color: #240cac;
  }

  .github {
    color: black;
  }




































/* */

.frase {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%; /* Espaço entre a imagem e o texto */
    margin-left: 3%;
    line-height: 1.5;
    margin-right: 10%;
    text-align: justify;


}




 /*titulos*/
.titulo{
 



  font-size: 35px;
  position:absolute;
  top: 0;
  width: 100%;
  padding: 48px; /* Opcional: para adicionar algum espaçamento interno */
  color: #e7190a;
  font-weight: bolder;
  display: flex; /* Usar flexbox para alinhamento */
  align-items: left; /* Alinhar verticalmente */
  justify-content: left; /* Centralizar horizontalmente */
  z-index: 1;  /* Garante que o conteúdo fique na frente  */


  }
  .logo1{
    width: 6%;
    border-radius: 47% 47% 2% 22% ;
    height: auto; /* Altura automática para manter a proporção */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    z-index: 1;
    

  }


/*BOTÕES */


/*botão para spotify Youtube*/
.button1 { 
    text-decoration: none;   /* Remove o sublinhado */
    padding: 10px 20px; /* Adiciona preenchimento ao botão */
    background-color: #f76e11; /* Define a cor de fundo do botão (substitua pela cor desejada) */
    color: #fff; /* Define a cor do texto do botão (substitua pela cor desejada) */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    display: inline-block; /* Garante que o botão se comporte como um elemento de bloco */
    font-size: 18px;
    margin-bottom: 5px; /* Espaçamento entre os botões */
    margin-left: 3%;

  }
  .button1:hover {
    background-color: #ca4507;
    
  }


/*formulario da pagina de dicas*/
.button2 {
  text-decoration: none; /* Remove o sublinhado */
  padding: 10px 20px; /* Adiciona preenchimento ao botão */
  background-color: #f76e11;
  /* Define a cor de fundo do botão (substitua pela cor desejada) */
  color: #fff; /* Define a cor do texto do botão (substitua pela cor desejada) */
  border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
  display: inline-block;
  font-size: 20px;
  margin-left: 3%;
  
}
.button2:hover {
  background-color: #ca4507;
  
}
   

/*botoes do menu*/
 



  /*FORMULÁRIO*/

/*frase do cabeçalho*/
  .fraseForm {
    font-size: 28px;
    color: #ca4507;
    margin-bottom: 4%;
    margin-left: 5%;


  }



  /* Estilizando todos os campos de escrita do formulario*/
  input {
    width: 39%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 3%;
    display: block; /*deixa um item embaixo do outro*/
    border: 1px solid #f76e11;
  }


  /* Estilizando a área de texto */
  textarea {
    width: 39%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    margin-left: 3%;
    display: block;
    border: 1px solid #f76e11;

}

/*id é acessado por # e não por ponto (.)*/
#escrevaDica {
  font-size: 18px;
  margin-left: 3%;
  margin-bottom: 10px;

}





/* PAGINA HOME */

  /*imagem e texto sobre a historia da culinaria*/
.historia {
    overflow: hidden; /* Limpa o float */
    margin-right: 2%; /* Defina a largura da margem direita conforme necessário */
    margin-left: 2%;
    margin-bottom: 7%;     /* Altere o valor conforme necessário para ajustar o espaçamento (vale para botao e texto tambem)*/
    margin-top: 1%;
    line-height: 1.5;







}

.planoDeFundo{

  background-color: #e5c89b;
  overflow: hidden; /* Limpa o float */
  margin-right: 11%; /* Defina a largura da margem direita conforme necessário */
  margin-left: 3%;
  margin-bottom: 4%;     /* Altere o valor conforme necessário para ajustar o espaçamento (vale para botao e texto tambem)*/
  padding: 2px;


}





.image2 {
    float: left; /* Faz a imagem flutuar à esquerda */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    height: auto; /* Altura automática para manter a proporção */
    width: 219px;
    margin-left: 3%; /* Defina a largura da margem esquerda conforme necessário */
    margin-bottom: 70px;   
    margin-top: 1%;
    

    
}


 

.bemVindo{
    font-size: 18px;
    text-align: justify;
    margin-left: 3%;
    white-space: normal;
    line-height: 1.5;
    margin-bottom: 3%;     /* Altere o valor conforme necessário para ajustar o espaçamento (vale para botao e texto tambem)*/
    margin-top: 1%;
    font-family: Arial, Helvetica, sans-serif; 
    margin-right: 10%;
  
}



#culinariaTerapia {


  text-align: left;
  background-color:rgb(207, 115, 62);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%; /* Espaço entre a imagem e o texto */
  margin-left: 3%;
  padding: 5px;
  width: calc(47% - 7px); /*tamanho do background da frase/palavra*/


}



/* PAGINA RECEITA*/


.subtituloReceitas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 3%;
    color: #ca4507;
    margin-bottom: 1%;
}




/*imagem das receitas*/
.imgAreceita {
    height: 170px; /* Altura automática para manter a proporção */
    margin-bottom: 10px;
    margin-left: 3%;
    width:200px; 
    display: block;
}

/*botoes retrateis das receitas*/




.receita{ 
  margin-bottom: 10px; /*margem entre uma receita e outra */
  padding: 10px;
  border-radius: 5px;
  background:#e5c89b;
  margin-left: 3%;
  border: 1px solid #f76e11; /*borda do campo de receitas */
  display: block;
  box-sizing: border-box; /* faz com que o padding seja incluído na largura total do elemento */
  width: calc(98% - 2%);/* largura automática para se ajustar ao conteúdo */
  overflow: hidden; /* evita que o conteúdo ultrapasse a borda */
  width: 75%;

}


/*receitas (ingredientes e preparo*/
.preparo{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 2%;
    margin-right: 22%;
    margin-bottom: 5%;
    padding: 0; /* padding interno para garantir espaçamento adequado dentro da borda */
    box-sizing: border-box; /* faz com que o padding seja incluído na largura total do elemento */
    line-height: 1.5;
}


.preparo ol {
  padding-left: 20px; /* ajuste do recuo da lista */
  margin-top: 0;
  margin-bottom: 0;
  list-style-position: inside; /* posiciona os números da lista dentro do contêiner */

  
  
}

.preparo li {
  margin-bottom: 15px; /* espaço entre os itens da lista */
  word-wrap: break-word; /* permite quebra de linha automática para evitar ultrapassar a borda */

}





.ingredientes{
  font-size: 14px;
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 3%;
  margin-right: 10%;
  margin-bottom: 3%;
  white-space: pre-line; /* Mantém as quebras de linha */

}

.ingredientes span {
  display: block; /* Cada item de ingrediente em um novo bloco */
  margin-bottom: 2px; /* Espaço entre os itens da lista */
  
}



.content{
  display: none; /* Inicialmente escondemos o conteúdo */
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  padding: 10px;
  background-color: #f76e11;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}
.btn:hover {
  background-color: #ca4507;
}



.imgTd {
  margin-left: 3%;
  width: 140px;
  height: 130px;
  background-size: cover; 
  outline-style: groove;
  border-radius: 10%;
  border-color: #f04815;

}




/* Estilos específicos para as listas de ingredientes e modo de preparo */
.lista-ingredientes{
  list-style-type: none;
  padding-left: 0;
}

.lista-ingredientes li {
  margin-bottom: 5px;
}











/*PAGINA LOCAL */



.mapa {
  margin-left: 3%;
  margin-bottom: 3%; 
}





/* PAGINA DE DICAS*/

.video { 
  margin-left: 3%;
  margin-bottom: 10px;
}

.video video { /*refe-se a tag video*/
  width: 20%; /* ou ajuste conforme necessário */
  height: 370px; /* ajuste a altura conforme necessário */
  object-fit: cover; /* ajusta o vídeo dentro da área especificada */

}




.video {
  margin-left: 3%;
  margin-bottom: 1%;
  
}


.asDicas {
  margin-bottom: 9px;
  padding: 10px 12px;
  border-radius: 5px;
  background: #e5c89b;
  margin-left: 3%;
  border: 1px solid #f76e11; /*borda do campo de receitas */
  display: inline-table;
  width: 15%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}




/*CREDITOS */

/*creditos de onde tirei o video e a imagem hiperlink*/
.creditos {
  text-align: left;
  margin-left: 3%;
  font-size: 18px;
  font-weight: bolder;
  text-decoration: none;
}
.creditosSos{
  margin-left: 1px;

}


        /*FORMULARIO seleção */

/* Mostrar elementos se um radio button específico estiver selecionado */
#dica:checked ~ #dicaFields {
  display: block;
  
}

#receita:checked ~ #receitaFields {
  display: block;
}

/* Estilização básica para inputs e textarea (dados no inicio do formulario)*/
input[type="text"],
input[type="number"],
textarea {
  display: block;
  margin: 10px 3%;
  padding: 8px;
  width: 50%;
  box-sizing: border-box;
}

/* Estilização básica para o select */
select {
  display: block;
  margin: 3px 3%;
  padding: 3px;
  width: 50%;
  box-sizing: border-box;
}



/* Estilização para o botão de submit */
input[type="submit"] {
  padding: 10px 10px;
  background-color: #f76e11;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 3%;
  width: 100px; /* Define uma largura específica para o botão */
  border-radius: 5px;

}

input[type="submit"]:hover {
  background-color: #ca4507;
}


form {
  margin-left: 2%;
}

.bordaForm {
  margin-top: 2%;
  margin-bottom: 14px;
  padding: 8px 10px;
  border-radius: 5px;
  background: #e5c89b;
  margin-left: 1%;
  margin-right: 2%;
  border: 1px solid #f76e11; /*borda do campo de receitas */
  display: block;
  width: 65%;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;

}



.escolhaOp {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
  margin-left: 3%;
  font-size: 18px;
}

/* Estilização para alinhar os radio buttons e labels */
.radio-group {
  display: flex;
  flex-direction: column;
 
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  margin-left: -23%;

}

.radio-container input[type="radio"] {
  order: -1; /* Move o rádio para antes do texto */
  margin-right: -15%/* Espaçamento entre o rádio e o texto */

}

/* Ocultar elementos por padrão */
.hidden {
  display: none;
}



