@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');  /*(font-family: "Roboto Condensed", sans-serif;)*/
@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /*font-family: "Courgette", cursiva;*/
@import url('https://fonts.googleapis.com/css2?family=Acme&family=Courgette&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap'); /*família de fontes: "Acme", sans-serif;*/
/*fonte importada do google fonts */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*corpo*/
body{background-color: hsl(120, 33%, 99%);
}

header {
  margin: 0;
  top: 0;
    
}

  
 /*Cabeçalho*/
.imagemInicial {
    margin: 0;
    padding: 0;
    background-image: url(imagens\do\site/logotipo\panela\laranja.jpeg); /*imagem do logo sobreposta na imagem inicial*/
    top: 0;
    position: left;                                                    /* Define o posicionamento relativo para o elemento pai */
    width: 1635px;
    height: 150px;
}


/*imagem da pagina inicial*/
.imagemInicial{
    background-image: url(imagens\ do\ site/inicial3.png);
    height: 190px;                                                      /* Altura desejada para o cabeçalho */
    width: 1349px;
    background-size: cover;                                             /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
    padding: 0px;
    background-position: 50% 5%;
    
}

.menuInicial {
    background-color: #e28b08;
    padding: 23px;
    width: 1347px;
    word-spacing: 50px;
}


 /*imagem do cabeçalho pagina Receitas*/
.imagemReceitas {
    background-image: url(imagens\ do\ site/ingredientes3.jpeg);
    height: 190px;                                                      /* Altura desejada para o cabeçalho */
    width: 1348px;
    background-size: cover;                                             /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
    padding: 0px;
}

 /*menus*/
 /*outras estilizações*/
.menusReceitas {
    background-color: #e28b08;
    padding: 23px;
    width: 1348px;
    word-spacing: 50px;
    margin-bottom: 4%;
    } 


.imagemDicas {
    margin-top: 0;
    background-image: url(imagens\ do\ site/Dicas6.png);
    height: 190px;                                          /* Altura desejada para o cabeçalho */
    width: 1349px;
    background-size: cover;                                 /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
    padding: 11px;
    background-position: 50% 50%;
}

.menusDicas {
    background-color: #e28b08;
    padding: 23px;
    width: 1349px;
}


.imagemLocal {
    background-image: url(imagens\ do\ site/mapa.png);
    height: 190px;                                          /* Altura desejada para o cabeçalho */
    width: 1349px;
    background-size: cover;                                 /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
    padding: 11px;
    background-position: 50% 40%; 
}

.imagemForm{
    margin-top: 0;
    background-image: url(imagens\ do\ site/formulario.png);
    height: 190px;                                          /* Altura desejada para o cabeçalho */
    width: 1349px;
    background-size: cover;                                 /* Ajusta o tamanho da imagem para cobrir todo o cabeçalho */
    padding: 11px;
    background-position: 50% 40%; /*centraliza a imagem na parte desejada, usando a porcentagem ou center*/
}



/* */
.menusLocal {
    background-color: #e28b08;
    padding: 24px;
    width: 1349px;
    word-spacing: 50px;  
}


/*criado por..*/
                        /*tentar colocar imagem e link p linkedin depois */
.criado {
    font-size: 18px;
    text-align: center;
    font-family: "Courgette", cursiva; 
}


.frase {
    background-color: rgb(247, 211, 171);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 3%; /* Espaço entre a imagem e o texto */
    margin-left: 3%;
    padding: 5px;
    width: calc(97% - 7px); /*tamanho do background da frase/palavra*/

}

p {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif; 
    text-align: justify;
    margin-right: 10%;
    margin-left: 3%;
}



 /*titulos*/
h1 {
    width: calc(47% - 7px);  /* 50% menos o espaçamento para a imagem */
    background-color:rgb(207, 115, 62); 
    margin-left: 3%;                           /*cor de fundo*/
    text-align: left;                                                 /*posição do texto*/
    font-size: 20px;                                                    /*tamanho da letra*/
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
    margin-bottom: 3%;
     
}


/*frases indicativas para fazer algo " clique aqui"*/
h4 {
    font-size: 18px;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(189, 68, 12);
    margin-left: 3%;
    margin-bottom: 3%;
}


/*titulos das receitas"*/
h3{
    color: rgb(253, 252, 251);
    background-color: #e66108;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    margin-bottom: 1%;
    width: calc(20% - 7px); /*alinha o background */

}


/*botão para spotify Youtube*/
.button1 { 
    text-decoration: none;   /* Remove o sublinhado */
    padding: 10px 20px; /* Adiciona preenchimento ao botão */
    background-color: #e66108; /* Define a cor de fundo do botão (substitua pela cor desejada) */
    color: #fff; /* Define a cor do texto do botão (substitua pela cor desejada) */
    border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
    display: inline-block; /* Garante que o botão se comporte como um elemento de bloco */
    font-size: 18px;
    margin-bottom: 3px; /* Espaçamento entre os botões */
    margin-left: 3%;

  }


/*formulario da pagina de dicas*/
.button2 {
  text-decoration: none; /* Remove o sublinhado */
  padding: 10px 20px; /* Adiciona preenchimento ao botão */
  background-color: #e66108; /* Define a cor de fundo do botão (substitua pela cor desejada) */
  color: #fff; /* Define a cor do texto do botão (substitua pela cor desejada) */
  border-radius: 5px; /* Adiciona bordas arredondadas ao botão */
  display: inline-block;
  font-size: 20px;
  margin-left: 3%;
  
}
   

/*botoes do menu*/
  .button5 {
    display: inline;
    background-color: #e46816 ; 
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    padding: 3px 20px;                                                                      /* preenchimento do botão */
    word-spacing: 50px; 
    height: 43px;  

  }
   
  /* cor dos hiperlink do menu*/
  ul {
    list-style-type: none;
    margin: 1px;
    padding: 1px;
    overflow: hidden;
    float: right;
    text-align: right;
  }

  
  li {
    float: left;
  }

  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    word-spacing: 50px;  
  }

  
  /* Altere a cor do link para #111 (preto) ao passar o mouse */
 .button5:hover {
    background-color: #ca4507;
    
  }

/*frase do cabeçalho*/
  .fraseForm {
    font-size: 28px;
    color: #ca4507;
    margin-bottom: 4%;
    margin-left: 5%;


  }




  /* Estilizando todos os campos de entrada */
  input {
    width: 39%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ec3b04;
    border-radius: 5px;
    margin-left: 3%;
    display: block; /*deixa um item embaixo do outro*/
  }


  /* Estilizando a área de texto */
  textarea {
    width: 39%;
    height: 100px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ec3b04;
    border-radius: 5px;
    margin-left: 3%;
    display: block;

}

/*id é acessado por # e não por ponto (.)*/
#escrevaDica {
  font-size: 18px;
  margin-left: 3%;
  margin-bottom: 10px;

}


/* Estilizando o botão de envio */
input[type="submit"] {
  width: 40%;
  background-color: #007bff;
  color: #fff;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
 

}

  /*Linkedin*/
  .linkedin {
    color: #240cac;
  }

  .github {
    color: black;
  }


  /*imagem e texto sobre a historia da culinaria*/
.historia {
    overflow: hidden; /* Limpa o float */
    margin-right: 10%; /* Defina a largura da margem direita conforme necessário */
    margin-left: 2%;
    margin-bottom: 50px;     /* Altere o valor conforme necessário para ajustar o espaçamento (vale para botao e texto tambem)*/
}

.image2 {
    float: left; /* Faz a imagem flutuar à esquerda */
    margin-right: 10px; /* Espaçamento entre a imagem e o texto */
    height: auto; /* Altura automática para manter a proporção */
    width: 219px;
    margin-left: 3%; /* Defina a largura da margem esquerda conforme necessário */
    margin-bottom: 50px;
}
 

.fraseInicio{
    font-family: "Roboto Condensed", sans-serif;
    font-size: 24px;
    font-style: italic;
    margin-left: 3%;


}


.subtituloReceitas {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    margin-left: 3%;
    color: #ca4507;
    margin-bottom: 1%;
}

/*receitas (ingredientes e preparo*/
.aReceita {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 3%;
    margin-right: 10%;
    margin-bottom: 2%;
    

}



/*imagem das receitas*/
.imgAreceita {
    height: 170px; /* Altura automática para manter a proporção */
    margin-bottom: 10px;
    margin-left: 3%;
    width:200px; 
    display: block;
    

}

/*botoes retrateis das receitas*/

main{
  padding: 20px;
  margin-left: 1%;
}


.receita{ 
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #f9f9f9;

}


.content{
  display: none; /* Inicialmente escondemos o conteúdo */
  margin-top: 10px;
}

.btn {
  cursor: pointer;
  padding: 10px;
  background-color: #ee660c;
  color: white;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  display: block;
}
.btn:hover {
  background-color: #e7190a;
}




.mapa {
  margin-left: 3%;
  margin-bottom: 3%;
  
}

.video {
  margin-left: 3%;
  margin-bottom: 50px;
  width: 500px;
  height: 400px;

}



#culinariaTerapia {
  text-align: left;
  background-color:rgb(207, 115, 62);
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  margin-bottom: 3%; /* Espaço entre a imagem e o texto */
  margin-left: 3%;
  padding: 5px;
  width: calc(47% - 7px); /*tamanho do background da frase/palavra*/
    

}


.videoSos {
  margin-left: 3%;
  margin-bottom: 1%;
  
}

.imgTd {
  margin-left: 3%;
  width: 140px;
  height: 130px;
  background-size: cover; 
  outline-style: groove;
  border-radius: 10%;
  border-color: #ec3b04;

}

/*frase para clicar na imagem do site*/
#cliquenaImagem {
  margin-left: 3%;
  margin-bottom: 1%;
  font-size: 16px;

}

/*creditos de onde tirei o video e a imagem hiperlink*/
.creditos {
  text-align: left;
  margin-left: 3%;
  font-size: 14px;

}





/* Estilos específicos para as listas de ingredientes e modo de preparo */
.lista-ingredientes{
  list-style-type: none;
  padding-left: 0;
}

.lista-ingredientes li {
  margin-bottom: 5px;
}

        /*FORMULARIO seleção */

/* Mostrar elementos se um radio button específico estiver selecionado */
#dica:checked ~ #dicaFields {
  display: block;
  
}

#receita:checked ~ #receitaFields {
  display: block;
}

/* Estilização básica para inputs e textarea */
input[type="text"],
input[type="number"],
textarea {
  display: block;
  margin: 10px 3%;
  padding: 8px;
  width: 50%;
  box-sizing: border-box;
}

/* Estilização básica para o select */
select {
  display: block;
  margin: 3px 3%;
  padding: 3px;
  width: 50%;
  box-sizing: border-box;
}


/* Estilização para o botão de submit */
input[type="submit"] {
  padding: 10px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  margin-left: 3%;
  width: 100px; /* Define uma largura específica para o botão */

}

input[type="submit"]:hover {
  background-color: #45a049;
}


form {
  margin-left: 2%;
}

.escolhaOp {
  display: block;
  margin-bottom: 1px;
  font-weight: bold;
  margin-left: 3%;
  font-size: 18px;
}

/* Estilização para alinhar os radio buttons e labels */
.radio-group {
  display: flex;
  flex-direction: column;
 
}

.radio-container {
  display: flex;
  align-items: center;
  margin-bottom: 1px;
  margin-left: -23%;

}

.radio-container input[type="radio"] {
  order: -1; /* Move o rádio para antes do texto */
  margin-right: -15%/* Espaçamento entre o rádio e o texto */

}

/* Ocultar elementos por padrão */
.hidden {
  display: none;
}